/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GENERIC/GENERAL/DEFAULT STYLES */
/* as a designer, add a design for each tag (it does take time) */
* { 
    box-sizing: border-box; 
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size:14px; /*1em=14px=1rem*/
    line-height:1.5; /*14px * 1.5 which equals to 21px*/
    color: #000000;
}

h1{
    font-size: 71px;
    line-height: 106px;
    margin-bottom: 17px;
    font-weight: bold;
}

h2{
    font-size: 48px;
    margin-bottom: 12px;
    font-weight: bold;
}

p{
    margin-bottom: 1em;
}

img {
    max-width: 100%;
    height: auto;
}

.container{
    padding: 1em;
}

/* NAVIGATION SECTION */

nav{
    background-color: #222222;
}


nav a:link, nav a:visited{
    text-align: center;
    display:block;
    color: #c78b07;
    font-size: 18px;
    padding-top: 17px;
    padding-bottom: 17px;
    text-decoration: none;
}

nav li.current a:link, nav li.current a:visited{
    background-color: #c78b07;
    color: #000000;
}

.logo{
    background-color: #c78b07;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav form [id=search]{
    padding:8px;
    font-size: large;
    width:85%;
}

nav form button{
    padding:35px 25px;
    padding-bottom:1px;
    background-color: #222222;
    color: #c78b07;
    border: 1px solid #c78b07;
    font-size: larger;
}



/* WELCOME SECTION */

.header-welcome{
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    padding-top: 68px;
    padding-bottom: 68px;
}

.header-welcome .container{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-top: 50px;
}

.header-welcome button{
    padding:30px;
    background-color: #c78b07;
    border:none;
    text-align: center;
    font-size: 23px;
}

/* ABOUT SECTION */

.section-about {
    background-color: #ffe6ac;
}

/* SERVICES SECTION */

.block :nth-child(1){
    margin-top: none;
}

.block{
    background-color: #ffe6ac;
    margin:2px;
    margin-top: 10px;
}

.block img{
    object-fit: cover;
    width: 100%;
}

.block p{
    padding-left:2%;
}

.block h3{
    font-size: 30px;
    font-weight: bold;
    padding-top:5%;
    padding-bottom: 1%;
    padding-left:2%;
}

.block button{
    padding:30px;
    padding-right:5%;
    padding-left: 5%;
    margin-left:2%;
    margin-bottom:2%;
    background-color: #222222;
    color:white;
    text-align: center;
    border:none;
    font-size: 21px;
}



/* VISION SECTION */

.section-vision{
    background-image: url(../images/vision.jpg);
    background-position: center;
    background-size:cover;
}

.section-vision .container{
    color: white;
    padding: 35px;
    padding-left: 2%;
    padding-bottom: 2%;
}

.section-vision h3{
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 2%;
}

.section-vision button{
    padding:35px;
    padding-right:6%;
    padding-left: 6%;
    padding-top:5%;
    background-color: #222222;
    color:white;
    text-align: center;
    font-size: 21px;
    border:1px solid #c78b07;
}

/* TEAM SECTION */

.team2{
    background-color: #ffe6ac;
}

.team2 img{
    width: 100%;
}


.team3{
    background-color: #ffe6ac;
    padding: 2%;
}

.team3 h3{
    font-size: 30px;
    font-weight: bold;
}

.team3 h4{
    font-size: larger;
    font-weight: bold;
    padding-bottom: 2%;
}

.underline{
    border:1px solid #c78b07;
    margin-top: -10px;
    margin-bottom: 2%;
}

.team4{
    background-color: #ffe6ac;
    margin-top: 2%;
}

.team4 img{
    width: 100%;
}

.team5{
    background-color: #ffe6ac;
    padding: 2%;
}

.team5 h3{
    font-size: 30px;
    font-weight: bold;
}

.team5 h4{
    font-size: larger;
    font-weight: bold;
    padding-bottom: 2%;
}

/* CONTACT SECTION */

.section-contact .container h3{
    font-size:30px;
    font-weight: bold;
}

input[type=text]{
    width:100%;
    padding-bottom:1%;
}

input[id=message]{
    padding-bottom:15%;
}

input[id=message], [id=email], [id=fname]{
    margin-bottom: 1%;
    margin-top: 2px;
}

.section-contact table{
    width:100%;
}

.section-contact th{
    background-color: #ffe6ac;
}

.section-contact table, th, td {
    border: 1px solid;
    padding:1rem;
}

.section-contact [id=submit]{
    padding:5px 8px 5px 8px;
    margin-top: 2%;
    font-size: large;
    border: none;
    background-color: #000000;
    color: #c78b07;
    text-align: center;
}

/* FOOTER SECTION */

footer{
    background-color:#222222;
}
footer .container p{
    color: #c78b07;
    margin-top: 12px;
}

footer a:link{
    text-decoration: underline;
    color:#c78b07;
}
  
footer a:visited {
    color: #c78b07;
}
  


/* END OF YOUR MOBILE-FIRST CSS. 
NO MEDIA QUERIES ABOVE THIS LINE */


/* ==========================
        DESKTOP STYLES 
=============================*/

/* TABLET STYLES: 760px to 1199px */
@media screen and (min-width: 760px) {

    .container {
        width: 706px;
        margin: 0 auto;
    }
    /* NOTHING ELSE! */ 
}

/* DESKTOP STYLES: ABOVE 1200px */
@media screen and (min-width: 1200px) {

    .container {
        width: 1168px;
        padding: 0 16px;
        margin: 0 auto;
    }

    /* ALL YOUR DESKTOP STYLES HERE */

    /* NAV SECTION DESKTOP */

    nav{
        background-color: #222222;
    }

    /* nav .container{
        display:flex;
        flex-direction: row;
        justify-content: left;

    } */

    nav .container ul{
        display:flex;
        flex-direction:row;
        justify-content: left;
        padding: 5%;
    }

    nav .container ul li{
        padding-right: 5%;
        /* flex: 1; */
    }

    nav .container ul li :nth-child(7){
        flex:2;
    }

    nav a:link, nav a:visited{
        text-align: left;
        display:block;
        color: #c78b07;
        font-size: 18px;
        padding-top: 17px;
        padding-bottom: 17px;
        text-decoration: none;
    }

    nav li.current a:link, nav li.current a:visited{
        background-color: #c78b07;
        color: #000000;
    }
    
    .logo{
        background-color: #222222;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    nav form [id=search]{
        padding:8px;
        font-size: large;
        width:80%;
    }
    
    nav form button{
        padding:5px 5px;
        padding-bottom:1px;
        background-color: #222222;
        color: #c78b07;
        border: 1px solid #c78b07;
    }
    

    /* WELCOME SECTION */
    
    .header-welcome .container{
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding-top: 50px;
        padding-bottom: 15px;
    }
    
   /* ABOUT SECTION */

    .section-about .block img{
        max-width: 100%;
        height: auto;
    }
    .section-about .container .flexbox{
        display:flex;
        flex-direction: row;
        justify-content:center;
        align-items:center;
    }

    /* SERVICES SECTION */

    .section-services .container{
        margin-bottom: 2%;
    }

    .section-services .container .section-grid{
        display: grid;
        align-items:center;
        gap: 0.5%;
        grid-template-columns:repeat(6, 1fr);
        /* grid-template-rows: repeat(3, 1fr); */
    } 

    .section-grid .title{
        align-self: start;
    }

    .section-grid :nth-child(1){
        grid-column-start:1;
        grid-column-end:7;
    }
      
    .section-grid :nth-child(2){
        grid-column-start:1;
        grid-column-end:4;
    }
      
    .section-grid :nth-child(3){
        grid-column-start:4;
        grid-column-end:7;
    }
      
    .section-grid :nth-child(4){
        grid-column-start:1;
        grid-column-end:3;
    }
      
    .section-grid :nth-child(5){
        grid-column-start:3;
        grid-column-end:5;
    }
      
    .section-grid :nth-child(6){
        grid-column-start:5;
        grid-column-end:7;
    }

    /* VISION SECTION */


    .section-vision{
        background-image: url(../images/vision.jpg);
        background-position: center;
        background-size:cover;
    }
    
    
    .section-vision button{
        padding:35px;
    }
    
    /* TEAM SECTION */

    .section-team .grid{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        /* grid-template-rows:repeat(3, 1fr); */
    }
    .team4{
        margin-top: 0;
        line-height: 0;
        /* grid-column-start: 2;
        grid-column-end: 3; */
    }
    .section-team .team1{
        grid-column-start:1;
        grid-column-end:3;
    }

    .section-team .team2, .team4{
        background-color: transparent;
    }

    /* .team2{
        grid-row-start: 1;
        grid-row-end: 2;
    } */

    /* .team5{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    } */


    /* CONTACT SECTION */

    .section-contact .container{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        /* grid-template-rows:repeat(3, 1fr); */
    }

    .section-contact .title-contact{
        grid-column-start:1;
        grid-column-end:3;
    }

    .section-contact .googlemaps{
        grid-column-start:2;
        grid-column-end:3;
    }

    .section-contact .operation{
        grid-column-start:1;
        grid-column-end:3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    /* FOOTER SECTION */

   footer {
    padding-top: 1%;
    padding-bottom: 2px;
   }
   
    



}